<div class="container">
  <% @proposals.each do |proposal|%>
    <div class="last-proposals-div">
      <ul class="last-proposals">
        <li><%= proposal.customer.name %></li>
        <li><%= link_to proposal.name, proposal_path(proposal) %></li>
        <li><%= proposal.date %></li>
        <li><%= proposal.due_date %></li>
      </ul>
    </div>
  <% end %>
</div>
