<div class="container">
<h1 class="table-h1">Proposals</h1>
			<table class="table">
				<thead align="left">
					<tr>
						<th>
							ID
						</th>
						<th>
							Created at
						</th>
						<th>
							Name
						</th>
						<th>
							Customer name
						</th>
					</tr>
				</thead>
				<tbody>
        <%=  render @proposals%>
				</tbody>
			</table>


</div>

<%= link_to "Create Proposal", new_proposal_path, class: 'btn btn-flat' %>
