table {
  border-collapse: collapse;

}

th {
  color: rgb(76, 124, 202);
  font-size: large;
}

td {
  border-bottom: 1px solid rgba(178, 178, 178, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
}

.table-h1 {
  color: rgb(76, 124, 202);
}
