/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "node_modules/bootstrap/scss/bootstrap";
@import "navbar";
@import "table";
/* @import "navbar"; */



.container {
  margin: 0 auto;
  padding: 50px;
  height: 100vh;
}

.last-proposals-container {
  width: fit-content;
  height: fit-content;
}

.last-proposals {
  list-style: none;
}

.last-proposals-div {
  border: solid 1px rgb(34, 10, 122);
  width: fit-content;
  border-radius: 6px;
  margin-top: 20px;
  transition: 0.3s;

}

.last-proposals-div:hover {
  box-shadow: 2px 2px rgba(215, 215, 215, 0.9);
  transform: translate(0, -5px);
  cursor: pointer;
}

.last-proposals-div ul {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
}



.proposal-form input{
  border-radius: 8px;
  border: solid 1px rgba(34, 10, 122, 0.3);
  height: 24px;
  margin-right: 40px;
}

.proposal-form textarea {
  border-radius: 8px;
  border: solid 1px rgba(34, 10, 122, 0.3);
  height: 24px;
  margin-right: 40px;
}

.proposal-form select {
  border-radius: 8px;
  border: solid 1px rgba(34, 10, 122, 0.3);
  height: 28px;
  margin-right: 40px;
}

.proposal-info {
  display: flex;
  margin-bottom: 50px;
}

.proposal-info input {
  margin-right: 40px;

}

#proposal_image {
  border: none;
}

.pvgis-info {
  display: flex;
  margin-bottom: 20px;
}

.pvgis-info {
  position: relative;
}

.pvgis-info a {
  position: absolute;
  right: 40px;
  top: 20px;
  text-decoration: none;
}

.proposal-address {
  display: flex;
  margin-bottom: 20px;
}

.proposal-address input {
  margin-right: 40px;
}

.proposal-create-button {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.btn-flat {
  color: white;
  padding: 6px 30px;
  background-color: rgb(76, 124, 202);
  border: solid 1px gray;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
}

.btn-back {
  color: white;
  padding: 6px 30px;
  text-decoration: none;
  background-color: rgb(76, 124, 202);
  border: solid 1px gray;
  border-radius: 4px;
  font-size: 16px;
}

.btn-back:hover {
  cursor: pointer;
}

.btn-flat:hover {
  cursor: pointer;
}

.search-bar input {
  padding: 5px;
}


.search-bar .btn-flat {
  width: 100px;
  padding: 6px;
}

.search-bar .btn-flat:hover {
  padding: 7px;
  cursor: pointer;
}

.bottom-buttons {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

#search-proposal-container {
  display: flex;
  justify-content: space-between;
}
